* {
/* Selector universal, aplica a toda la pagina web*/
font-family: "Roboto", sans-serif;
/* fuente para toda mi pagina */
margin: 0;
/* margen de mi pagina */
padding: 0;
/* espacio entre el contenido del elemento y su borde */
box-sizing: border-box;
}


/* body {
  background-color: gainsboro;
  color: black;
  transition: background-color 800ms ease;
}

.darkMode {
  background-color: black;
  color: gainsboro;
} */

.encabezado {
    background-color: rgb(233, 158, 108);
    height: 8rem;
}

.nav ul {
list-style: none;
}

.imagen {
  height: 16rem;
  width: 100%;
  object-fit: cover;
}


.tituloCartaMenu {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contenedorMenu {
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.producto {
  max-width: 30%;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}


.botonCaja {
  display: flex;
  align-items: center;
  justify-content: center;
}

.caja {
  background-color:rgb(233, 158, 108);
  width: 20rem;
}

.pie {
    display: flex;
    background-color: rgb(233, 158, 108);
    height: auto;
    padding: 4rem;
}



