* {
/* Selector universal, aplica a toda la pagina web*/
font-family: "Roboto", sans-serif;
/* fuente para toda mi pagina */
margin: 0;
/* margen de mi pagina */
padding: 0;
/* espacio entre el contenido del elemento y su borde */
box-sizing: border-box;
}

/* estilos dados al body para aplicar Dark Mode */
body {
  background-color: rgb(243, 209, 186);
  color: black;
  transition: background-color 800ms ease;
}

.darkMode {
  background-color: black;
  color: rgb(243, 171, 124);
} 

.nav ul {
list-style: none;
}

/* Imagen de portada */
.imagen {
  height: 16rem;
  width: 100%;
  object-fit: cover;
}

/* Titulo de la Carta Menu*/
.tituloCartaMenu {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration:underline;
}

/* Estilos para el contenedor menu */
#contenedorMenu {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

 /* Estilos dado a los productos */
.producto {
  max-width: 33%;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}

/* Boton Caja*/
.botonCaja {
  display: flex;
  align-items: center;
  justify-content: center;
}

.caja {
  background-color:rgb(233, 158, 108);
  width: 20rem;
}

/*Estilos del footer*/
.pie {
    background-color: rgb(233, 158, 108);
    height: auto;
    padding: 4rem;
}

.iconos {
  list-style: none;
  display: flex;
}

.iconosRedes {
  color:rgb(12, 9, 7);
}


